.snapshot {
  box-shadow: 4px 4px 4px grey;
  border-radius: 5px;
  background: white;
}

.snapshot__title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  background: var(--blue);
  width: 100%;
  border-radius: 5px 5px 0 0;
  color: white;
}

.isLogCard {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
}

.fa-trash {
  padding: 0.5rem;
  color: white;
}

.deleteLogEntry {
  background: none;
  cursor: pointer;
  outline: none;
}
