.log {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 2rem;
  height: 100%;
}

.emptyLogMessage {
  font-size: 2rem;
  /* background: white;
  box-shadow: 4px 4px 4px grey;
  padding: 1rem; */
  text-align: center;
  color: grey;
}
