.workout {
  border-radius: 5px;
}

.inputtingWeight,
.inputtingReps {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  text-align: center;
}

.adjustableWeight {
  min-width: 1rem; /* reduce jank from resizing of element as the number increases from single -> double -> triple digits */
  text-align: center;
  font-size: 0.75rem;
}

.workout__tableWrap {
  padding: 1rem;
}

.workout__table {
  width: 100%;
  line-height: 1.25rem;
}

.workout__table__labels th {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.increment,
.decrement {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  background: var(--grey);
  border-radius: 5px;
  position: relative;
}

.weight {
  font-size: 0.75rem;
}

.cell {
  padding-bottom: 1rem;
  font-size: 0.75rem;
}

.completed {
  color: green;
}
.incomplete {
  color: red;
}
