.workout {
  border-radius: 5px;
}

.workout__tableWrap {
  padding: 1rem;
}

.workout__table {
  width: 100%;
  line-height: 1.25rem;
}

.workout__table__labels th {
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.increment,
.decrement {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background: none;
  border-radius: 5px;
  position: relative;
}

.weight {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
